@charset "UTF-8";
/* Reset and base styles  */
*,
*::before,
*::after {
  padding: 0px;
  margin: 0px;
  border: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* Links */
a, a:visited {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: inherit;
  text-decoration: none;
}
a:focus,
a:active {
  outline: none;
}
/* Common */
aside, nav, footer, header, section, main {
  display: block;
}
h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}
p + p {
  margin-top: 1em;
}
ul {
  list-style: none;
}
img, svg {
  vertical-align: top;
  max-width: 100%;
  height: auto;
}
/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
}
input::-ms-clear {
  display: none;
}
button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}
input:focus, input:active,
button:focus, button:active {
  outline: none;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
label {
  cursor: pointer;
}
legend {
  display: block;
}
.btn {
  margin: 0 auto;
  background-color: var(--primary);
  color: var(--secondary);
  padding: 10px 20px;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px 0px var(--primary);
          box-shadow: 1px 1px 0px var(--primary);
  font-weight: 700;
}
.btn:active {
  position: relative;
  top: 2px;
  background-color: rgb(7, 7, 7);
  -webkit-box-shadow: unset;
          box-shadow: unset;
}
.btn-pass,
.btn-copy {
  font-size: 22px;
}
.password {
  border: 2px solid var(--primary);
  padding: 20px;
}
.tabcontainer {
  text-align: center;
  font-size: 36px;
}
.tabheader {
  margin-bottom: 50px;
}
.tabheader__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.tabheader__wrapper div {
  cursor: pointer;
}
.tabheader__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.tabheader__items .tabheader__item {
  padding: 10px 25px;
  background-color: rgba(184, 184, 184, 0.1);
  font-size: 48px;
  font-weight: 400;
}
.tabheader__item--active {
  text-decoration: underline;
  background-color: rgba(184, 184, 184, 0.3) !important;
  font-weight: 700 !important;
}
.tabcontent {
  display: none;
}
.background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10px;
  text-align: center;
  background-color: var(--primary);
  padding: 30px 0;
  border-radius: 10px;
  color: var(--secondary);
}
.tabcontent label {
  font-size: 20px;
}
.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.custom-checkbox + label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.custom-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.custom-checkbox:checked + label::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.color {
  background: #0b76ef;
  color: var(--secondary);
}
.random-cat {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 600px;
}
.random-cat h2 {
  margin-bottom: 30px;
}
.random-cat__card {
  height: 100%;
  width: 100%;
  padding: 16px;
  background: #dddddd;
  -webkit-box-shadow: 5px 5px 15px #696969;
          box-shadow: 5px 5px 15px #696969;
  border-radius: 10px;
  position: relative;
}
.random-cat__card img.loading {
  background-color: #ddd;
  z-index: 10;
  -webkit-transition: all 2s ease;
  -o-transition: all 2s ease;
  transition: all 2s ease;
  visibility: visible;
  opacity: 0.2;
}
.loading {
  opacity: 0;
  visibility: hidden;
}
.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #000000;
  /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
  position: absolute;
  top: 40%;
  left: 50%;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.tasks__title {
  margin: 50px 0 20px 0;
  text-align: center;
  text-transform: uppercase;
}
.tasks__list {
  margin-bottom: 20px;
}
.tasks__item {
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
  margin-bottom: 10px;
  padding: 5px;
  text-align: center;
  border: 2px dashed #820f96;
  border-radius: 10px;
  cursor: move;
  background: rgb(63, 94, 251);
  background: -webkit-gradient(linear, left top, right top, from(rgba(63, 94, 251, 0.5)), to(rgba(70, 214, 252, 0.5)));
  background: -o-linear-gradient(left, rgba(63, 94, 251, 0.5) 0%, rgba(70, 214, 252, 0.5) 100%);
  background: linear-gradient(90deg, rgba(63, 94, 251, 0.5) 0%, rgba(70, 214, 252, 0.5) 100%);
  transition: background-color 0.5s;
  position: relative;
}
.btn-delete {
  position: absolute;
  top: 0;
  right: -40px;
  cursor: pointer;
  padding: 5px;
}
.btn-delete:active {
  top: 2px;
}
.tasks__item:last-child {
  margin-bottom: 0;
}
.tasks__input {
  border: 2px solid #000;
  padding: 8px 20px;
  width: 50%;
}
.selected {
  opacity: 0.6;
}
.board {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-width: 100%;
  min-height: 100%;
}
.square {
  width: 30px;
  height: 30px;
  background: #fff;
  margin: 2px;
  -webkit-box-shadow: 0 0 2px #000;
          box-shadow: 0 0 2px #000;
  -webkit-transition: 2s ease;
  -o-transition: 2s ease;
  transition: 2s ease;
  cursor: pointer;
}
.square:hover {
  -webkit-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}
.square:active {
  position: relative;
  top: 2px;
}
:root {
  --container-width: 1570px;
  --container-padding: 15px;
  --primary: #0E0606;
  --secondary: #fff;
}
html {
  overflow: hidden;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: var(--primary);
  position: fixed;
  left: 0;
  top: 0;
  right: -30px;
  bottom: 0;
  overflow-y: scroll;
}
.container {
  margin: 0 auto;
  max-width: var(--container-width);
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
}
.hide {
  display: none !important;
}
.content {
  min-height: 100vh;
}
.title {
  font-size: 2em;
  color: var(--secondary);
}
.header {
  color: var(--secondary);
  font-weight: 700;
  background-color: var(--primary);
  padding: 20px;
  -webkit-box-shadow: 0px 5px 10px rgb(0, 0, 0);
          box-shadow: 0px 5px 10px rgb(0, 0, 0);
  margin-bottom: 30px;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__title {
  font-size: 40px;
}
.header__title span {
  text-decoration: underline;
}
.footer {
  color: var(--secondary);
  font-size: 24px;
  font-weight: 700;
  margin-top: auto;
  background-color: var(--primary);
  padding: 10px;
  -webkit-box-shadow: 0px -5px 10px rgb(0, 0, 0);
          box-shadow: 0px -5px 10px rgb(0, 0, 0);
  margin-top: 100px;
}
.timer {
  font-size: 20px;
  color: var(--secondary);
}
.timer .timer__title {
  font-size: 28px;
  text-align: right;
}
.timer .timer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}
.timer .timer__wrapper .timer__block span {
  font-size: 28px;
}
.modal-letter {
  cursor: pointer;
  position: relative;
}
.modal-letter::after {
  content: "модалка";
  text-decoration: none;
  position: absolute;
  font-size: 10px;
  bottom: -4px;
  right: 0;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
}
.overlay.open {
  visibility: visible;
  opacity: 1;
}
.popup {
  z-index: 11;
  position: fixed;
  top: 150px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  margin: 0 15px;
  max-width: 700px;
  width: calc(50% - 16px);
  max-height: 90vh;
  padding: 80px 40px;
  background-color: white;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 0;
  visibility: hidden;
}
.popup.open {
  visibility: visible;
  opacity: 1;
}
.close-modal {
  position: fixed;
  width: 35px;
  top: 5px;
  right: 5px;
}
.close-modal:active {
  top: 7px;
}